

#mainColumn {
	margin:20px 250px 20px 20px;
	min-height:100px;
}


#docColumn {
	background-color:#FFFFFF;
	width:850px;
	min-height:100px;
	margin:auto;
	padding:0px 25px;
}

#sideColumn {
	width:200px;
	margin:20px 20px 0px 0px;
	background-color:#FFFFFF;
}

#firstItem {
	width:80%;
	margin:0px 10%;
	background-color:#ccc;
	height:20px;
}

#addOptions {
	background-color:#fff;
	border-radius:10px;
	padding:10px 0px 20px 0px;
	width:460px;
	margin:-30px 0px 0px -70px;
	box-shadow:3px 3px 8px 2px #CECECE;
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 1px #999;
  min-height: 20px;
  min-width:825px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.inEdit {
	background-color:#EEE;
}