

<div class="text-center mb-40">


	<div style="width:60%; margin:0px 20%">

		<mat-form-field class="mt-20 mb-20" style="width:100%">
			<mat-label>Enter URL of new parent folder</mat-label>
			<input matInput 
				   [(ngModel)]="tempLocation"
				   (keyup.enter)="getBaseIdFromString( tempLocation )">
		</mat-form-field>


		<div id="selectionBox">

			<div *ngFor="let folder of moveFiles"
				 fxLayout="row"
				 class="folderRow">

				 <mat-icon class="mr-20 ml-20">folder</mat-icon>
				 {{folder.name}}

			</div>

		</div>


		<button mat-raised-button 
				color="primary"
				class="mt-20"
				style="width:225px"
				*ngIf="validLocation"
				(click)="moveItem( file )">
			Move Item
		</button>

	</div>

</div>