<div id="settingsColumn" >

	<div class="columnHeader text-center pt-12 mat-headline">Document Settings</div>

	<div fxLayout="row"
		 fxLayoutAlign="center center"
		 class="w-300 text-center ml-48">

		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'properties'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="Properties"
					  matTooltipPosition="above">
				open_with
			</mat-icon>
		</div>
		

		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'showhide'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="Hide/Show Items"
					  matTooltipPosition="above">
				visibility
			</mat-icon>
		</div>


		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'properties'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="Link to CAD"
					  matTooltipPosition="above">
				wallpaper
			</mat-icon>
		</div>


		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'tableOfContents'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="Table of Contents"
					  matTooltipPosition="above">
				toc
			</mat-icon>
		</div>


		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'bibliography'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="Bibliography"
					  matTooltipPosition="above">
				book
			</mat-icon>
		</div>



		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'fileAsFunction'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="File as a Function"
					  matTooltipPosition="above">
				settings
			</mat-icon>
		</div>

	</div>



	<div fxLayout="row"
		 class="w-300 text-center ml-52">


		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'fileInputs'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="File Inputs"
					  matTooltipPosition="below">
				redo
			</mat-icon>
		</div>



		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'dataset'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="Dataset Inputs"
					  matTooltipPosition="below">
				storage
			</mat-icon>
		</div>


		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'importedFunctions'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="Imported Functions"
					  matTooltipPosition="below">
				cached
			</mat-icon>
		</div>


		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'properties'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="Dependent Files"
					  matTooltipPosition="below">
				build
			</mat-icon>
		</div>



		<div class="settingsItem pt-4 pb-8"
			 (click)="editItem = 'forums'">
			<mat-icon style="position:relative; top:4px;" 
					  class="ml-12 mr-12 pt-8"
					  matTooltip="Forums"
					  matTooltipPosition="below">
				speaker_notes
			</mat-icon>
		</div>

	</div>




	<document-settings-properties *ngIf="editItem=='properties'"
								  [fileData]="fileData"
								  (onFileChanged)="onFileChanged($event)">
	</document-settings-properties>



	<document-settings-show-hide *ngIf="editItem=='showhide'"
								  [fileData]="fileData"
								  (onFileChanged)="onFileChanged($event)">
	</document-settings-show-hide>


	<document-settings-toc *ngIf="editItem=='tableOfContents'"
								  [fileData]="fileData"
								  (onFileChanged)="onFileChanged($event)">
	</document-settings-toc>


	<document-settings-bibliography *ngIf="editItem=='bibliography'"
								  [fileData]="fileData"
								  (onFileChanged)="onFileChanged($event)">
	</document-settings-bibliography>




</div>