#settingsColumn {
	width:240px;
	min-width:240px;
	max-width:240px;
	padding:0px;
	margin:0px 0px 20px 0px;
	background-color :#FFF;
	border:1px solid #ccc;
	border-radius:5px;
	position:absolute;
	top:20px;
	right:20px;



	.columnHeader {
		height:50px;
		font-size:14px;
		border-bottom:1px solid #eee;
		font-weight:bold;
	}

	.settingsItem {
		height:50px;
		font-size:14px;
		cursor:pointer;
		border-bottom:1px solid #eee;
	}



	.settingsItem:hover {
		background-color:#eee;
	}


}