<div id="settingsColumn">

	<div class="columnHeader text-center pt-12">Document Properties</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('properties')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">open_with</mat-icon>
		Properties
	</div>
		
	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('hideShow')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">visibility</mat-icon>
		Hide/Show Items
	</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('linkToCad')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">settings</mat-icon>
		Link to CAD
	</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('toc')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">toc</mat-icon>
		Table of Contents
	</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('bibliography')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">book</mat-icon>
		Bibliography
	</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('fileAsFunction')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">settings</mat-icon>
		File as a Function
	</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('fileInputs')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">settings</mat-icon>
		File Inputs
	</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('datasetInputs')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">settings</mat-icon>
		Dataset Inputs
	</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('importedFunctions')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">settings</mat-icon>
		Imported Functions
	</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('dependentFiles')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">settings</mat-icon>
		Dependent Files
	</div>

	<div class="settingsItem pt-4 pb-8"
		 (click)="changeEditDisplay('forums')">
		<mat-icon style="position:relative; top:4px;" class="ml-12 mr-12 pt-8">settings</mat-icon>
		Forums
	</div>

</div>