#settingsColumn {
	width:400px;
	min-width:400px;
	max-width:400px;
	height:100%;
	padding:0px;
	margin:0px 0px 0px 0px;
	background-color :#FFFFFF;
	position:fixed;
	top:0px;
	right:0px;
	box-shadow:0 2px 8px 0 rgba(0,0,0,.35);
	display:block;
	overflow-y:scroll;


	.columnHeader {
		height:50px;
		font-size:14px;
		border-bottom:1px solid #eee;
		font-weight:bold;
	}

	.settingsItem {
		height:50px;
		font-size:14px;
		cursor:pointer;
		border-bottom:1px solid #eee;
	}



	.settingsItem:hover {
		background-color:#eee;
	}


}