<div id="teams" class="page-layout simple fullwidth">

    <!-- CENTER -->
    <div class="center"
    	 *ngIf="errorFlag"
    	 id="errorBox">
    	 <h1>You must be logged in to create or view your teams</h1>
    </div>

    <!-- CENTER -->
    <div class="center"
    	 *ngIf="!errorFlag">

        <!-- CONTENT HEADER -->
        <div class="header pb-24 pl-48" 
        	 fxLayout="row" 
        	 fxLayoutAlign="start center"
        	 style="background-image:url('/assets/images/backgrounds/topper.png'); height:190px; background-size:cover">
        	<h1 class="mt-0">Teams for {{userData.userName}}</h1>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content p-24 center">

				<button mat-raised-button 
						color="primary"
						class="w-20-p mt-20 center mb-24"
						id="createTeamButton"
						style="margin-left:40%; min-width:200px"
						(click)="this.TeamsService.addTeam( this.userData )">
						CREATE NEW TEAM
				</button>

            	<table class="displayTable w-80-p"
            		   style="margin:0px 10%"
            		   *ngIf="dataFlag"
            		   id="dataTable">

					<tr	class="projectRow w-100-p">
						<th class="mat-subheading-2 text-center w-35-p">Name</th>
						<th class="mat-subheading-2 text-center w-25-p">Creator</th>
						<th class="mat-subheading-2 text-center w-20-p">Date Created</th>
						<th class="mat-subheading-2 text-center w-20-p">Privacy</th>
					</tr>

					<tr class="projectRow"
						*ngFor="let team of teamsData"
						[routerLink]="'/teams/'+team.uid+'/'+team.name">

						<td class="mat-body-2 text-center w-35-p">
							<img class="avatar" [src]="team.teamImage | async">
							{{team.name}} 
							<span [matBadge]="team.members.length"  matBadgeColor="accent" matBadgeOverlap="false"></span>
						</td>
						<td class="mat-body-2 text-center w-25-p">{{team.creatorName}}</td>
						<td class="mat-body-2 text-center w-20-p">{{team.dateCreated | date:'short'}}</td>

						<td class="mat-body-2 text-center w-20-p"
							*ngIf="team.private">
							Private Team
						</td>

						<td class="mat-body-2 text-center w-20-p"
							*ngIf="!team.private">
							Public Team
						</td>

					</tr>

				</table>

			</div>

		</div>
		<!-- / CENTER -->

	</div>

</div>