
<div fxLayout="column"
	 style="width:100%; 
	 		padding:20px; "
	 class="text-center mt-40">



	<div>
		<mat-form-field class="wmInput"
						style="width:100px">
			<mat-label>Top Margin</mat-label>
			<input matInput [(ngModel)]="component.content.margintop"
							(keyup.enter)="changeComponent( component )">
		</mat-form-field>
	</div>






	<div fxLayout="row" 
		 fxLayoutAlign="space-between center">



		<div>
			<mat-form-field class="wmInput"
							style="width:100px">
				<mat-label>Left Margin</mat-label>
				<input matInput [(ngModel)]="component.content.marginleft"
								(keyup.enter)="changeComponent( component )">
			</mat-form-field>
		</div>


		<div>
			<mat-form-field class="wmInput"
							style="width:100px">
				<mat-label>Width</mat-label>
				<input matInput [(ngModel)]="component.content.width"
								(keyup.enter)="changeComponent( component )">
			</mat-form-field>
		</div>


		<div>
			<mat-form-field class="wmInput"
							style="width:100px">
				<mat-label>Right Margin</mat-label>
				<input matInput [(ngModel)]="component.content.marginright"
								(keyup.enter)="changeComponent( component )">
			</mat-form-field>
		</div>


	</div>



	<div>
		<mat-form-field appearance="outline"
						style="width:100px">
			<mat-label>Alignment</mat-label>
			<mat-select [(ngModel)]="component.content.alignment"
						(change)="changeComponent( component )">
				<mat-option [value]="'left'">Left</mat-option>
				<mat-option [value]="'right'">Right</mat-option>
				<mat-option [value]="'center'">Center</mat-option>
			</mat-select>
		</mat-form-field>
	</div>



	<div>
		<mat-form-field class="wmInput"
						style="width:100px">
			<mat-label>Bottom Margin</mat-label>
			<input matInput [(ngModel)]="component.content.marginbottom"
							(keyup.enter)="changeComponent( component )">
		</mat-form-field>
	</div>




</div>