<div class="page-layout simple fullwidth">


    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header pb-24 pl-48" 
        	 fxLayout="row" 
        	 fxLayoutAlign="start center"
        	 style="background-image:url('/assets/images/backgrounds/topper.png'); height:190px; background-size:cover">
        	<h1 class="mt-0">Constants in CADWOLF</h1>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR --
            <div class="toolbar px-24 py-8">
                <span>Content toolbar</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

            	<table class="displayTable w-80-p"
            		   style="margin:0px 10%">

					<tr	class="projectRow w-100-p">
						<th class="mat-subheading-2 text-center w-15-p">Name</th>
						<th class="mat-subheading-2 text-center w-15-p">Symbol</th>
						<th class="mat-subheading-2 text-center w-30-p">Value</th>
						<th class="mat-subheading-2 text-center w-10-p">Units</th>
						<th class="mat-subheading-2 text-center w-30-p">Description</th>
					</tr>

					<tr	class="projectRow w-100-p"
					    *ngFor="let const of constants">

						<td class="mat-body-1 text-center  w-15-p"
							*ngIf="const.name">
							{{const.name}}
						</td>

						<td class="mat-body-1 text-center  w-15-p"
							*ngIf="!const.name">
							-
						</td>

						<td class="mat-body-1 text-center w-15-p"
							*ngIf="const.showValue">
							{{const.showValue}}
						</td>

						<td class="mat-body-1 text-center  w-15-p"
							*ngIf="!const.showValue">
							-
						</td>

						<td class="mat-body-1 text-center w-30-p"
							*ngIf="const.value">
							{{const.value}}
						</td>

						<td class="mat-body-1 text-center  w-15-p"
							*ngIf="!const.value">
							-
						</td>

						<td class="mat-body-1 text-center w-10-p"
							*ngIf="const.units">
							{{const.units}}
						</td>

						<td class="mat-body-1 text-center  w-15-p"
							*ngIf="!const.units">
							-
						</td>

						<td class="mat-body-1 text-center w-30-p"
							*ngIf="const.description">
							{{const.description}}
						</td>

						<td class="mat-body-1 text-center  w-15-p"
							*ngIf="!const.description">
							-
						</td>

					</tr>

            	</table>


            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
