.h1 {
	margin:20px 0px 10px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #898989;
}


.h2 {
	margin:20px 0px 10px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #898989;
}


.h3 {
	margin:20px 0px 10px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #898989;
}


.h4 {
	margin:20px 0px 10px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #898989;
}