
<div class="fileList mt-20"
	 id="viewlist">


	<!-- The main header row -->
	<div class="list-header"
		 fxLayout="row">

		<div class="tableHeader col1">File Name</div>
		<div class="tableHeader col2">Date Created</div>
		<div class="tableHeader col3">Date Modified</div>
		<div class="tableHeader col4">Version</div>
		<div class="tableHeader col5">Info</div>

	</div>
	<!-- / The main header row -->


	<!-- The list for the items in a workspace -->
	<div *ngFor="let file of workspaceFiles">

		<div class="fileListItem"
			 fxLayout="row"
			 (click)="selectedItem=file">

			<div class="fileItem col1 navItem"
				 fxLayout="row">
				<mat-icon *ngIf="file.fileType==0" class="mr-20">folder</mat-icon>
				<mat-icon *ngIf="file.fileType==1" class="mr-20">description</mat-icon>
				<mat-icon *ngIf="file.fileType==2" class="mr-20">build</mat-icon>
				<mat-icon *ngIf="file.fileType==3" class="mr-20">table_chart</mat-icon>
				<mat-icon *ngIf="file.fileType==4" class="mr-20">camera_alt</mat-icon>
				<mat-icon *ngIf="file.fileType==5" class="mr-20">chat</mat-icon>
				{{file.name}}
			</div>

			<div class="fileItem col2">{{file.dateCreated | date:'short'}}</div>

			<div class="fileItem col3">{{file.dateModified | date:'short'}}</div>

			<div class="fileItem col4">{{file.version}}</div>

			<div class="fileItem col5">

				<mat-icon class="mr-20 editOption navItem" 
						  matTooltip="See Info" 
						  matTooltipPosition="below"
						  (click)="showEdit = showEdit!='properties' ? 'properties' : ''">
					info
				</mat-icon>

			</div>
		
		</div>
		<!-- / The list for the items in a workspace -->



		<div fxLayout="row" *ngIf="file==selectedItem && showEdit=='properties' ">



			<div fxLayout="column" class="mb-20" style="width:50%">

				<div class="text-center mt-12" style="width:100%">

					{{file.description}}

				</div>

			</div>





		<div class="text-center mt-12"
			 style="width:50%">

			<mat-icon class="mr-20 editOption" 
					  style="cursor:pointer"
					  matTooltip="View Log" 
					  matTooltipPosition="below">
				create
			</mat-icon>


			<mat-icon class="mr-20 editOption" 
					  style="cursor:pointer"
					  matTooltip="View Change History" 
					  matTooltipPosition="below">
				create
			</mat-icon>


		</div>



		</div>

		<mat-divider></mat-divider>

	</div>

</div>
